/* <!-- NAVBAR START --> */
.hover-line {
    display: inline-block;
    position: relative;
    color: #eb6e6e;
  }
  
  .hover-line:after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 3px;
    bottom: -5;
    background-color: #eb6e6e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-line:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;}
/* <!-- NAVBAR FINISH --> */